

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lexend+Deca:wght@100..900&family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Audiowide&family=Basic&family=Chocolate+Classical+Sans&family=Cookie&family=Monoton&family=Satisfy&display=swap');


.landing {
    width: 100%;
    margin: 0;

    #intro {
        position: fixed;
        z-index: 100;
    }
    
    #intro-overlay-img {
        position: fixed;
        bottom: 0;
        height: 100vh;
        width: 100vw;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        animation: deleteLayer 0.1s 8s forwards;
    }

    #intro-strips {
        .strip {
            position: fixed;
            bottom: 0;
            width: 20vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            border-right: 1px dashed gray;
            animation: deleteLayer 0.1s 12s forwards;
    
            .strip-ylw {
                background: rgb(255, 209, 63);
            }
    
            .strip-noc {
                background: transparent;
            }
        }
    
        .strip:nth-child(1) {
            left: 0;
            .strip-ylw { animation: grow 0.5s 6s forwards ease-in, shrink 0.2s 11.2s forwards ease-out; }
            .strip-noc { animation: grow 0.2s 11s forwards ease-in; }
        }
    
        .strip:nth-child(2) {
            left: 20vw;
            .strip-ylw { animation: grow 0.9s 6s forwards ease-in, shrink 0.5s 11.5s forwards ease-out; }
            .strip-noc { animation: grow 0.5s 11s forwards ease-in; }
        }
        .strip:nth-child(3) {
            left: 40vw;
            .strip-ylw { animation: grow 0.6s 6s forwards ease-in, shrink 0.3s 11.3s forwards ease-out; }
            .strip-noc { animation: grow 0.3s 11s forwards ease-in; }
        }
        .strip:nth-child(4) {
            left: 60vw;
            .strip-ylw { animation: grow 0.8s 6s forwards ease-in, shrink 0.4s 11.4s forwards ease-out; }
            .strip-noc { animation: grow 0.4s 11s forwards ease-in; }
        }
        .strip:nth-child(5) {
            left: 80vw;
            .strip-ylw { animation: grow 0.7s 6s forwards ease-in, shrink 0.35s 11.35s forwards ease-out; }
            .strip-noc { animation: grow 0.35s 11s forwards ease-in; }
        }
    }

    .title-intro {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 70vh;
        justify-content: center;
        align-items: center;
        color: white;
        opacity: 0;
    }

    .title-intro.logo {
        font-family: "Monoton", sans-serif;
        font-size: 5vw;
        animation: enlarge 2s 7s forwards ease-in-out;
    }

    .title-intro.tag {
        font-family: "Rubik Doodle Shadow", system-ui;
        font-size: 5vw;
        animation: fadeInOut 2.5s 9s forwards ease-in-out;
    }

}

@keyframes grow {
    from { height: 0vh; }
    to { height: 100vh; }
}

@keyframes shrink {
    from { height: 100vh; }
    to { height: 0vh; }
}

@keyframes deleteLayer {
    from { display: block; }
    to { display: none; }
}


@keyframes enlarge {
    0% { scale: 1; opacity: 0; display: flex;}
    50% { scale: 1; opacity: 1;}
    100% { scale: 15; opacity: 0; display: none;}
}

@keyframes fadeInOut {
    0% { opacity: 0; display: flex;}
    50% { opacity: 1;}
    100% { opacity: 0; display: none;}
}