@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moul&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lexend+Deca:wght@100..900&family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Audiowide&family=Basic&family=Chocolate+Classical+Sans&family=Cookie&family=Monoton&family=Satisfy&display=swap');


// font-family: "Archivo Black", sans-serif;
// font-family:"Monoton", sans-serif !important;
// font-family: "Rubik Doodle Shadow", system-ui;
// font-family: "Lexend Deca", sans-serif;
// font-family: "Moul", serif;

html, body {
    height: 100vh;
    overflow: scroll;
    scroll-snap-type: y;
    scroll-behavior: smooth;
}

.landing {

}

.landing > .what-we-do {
    user-select: none;
    scroll-snap-align: block;
}

#title-cont {
    min-width: 100vw;
    max-width: 100vw !important;
    height: 100vh !important;
    margin: 0 !important;
    padding: 2vw !important;
    position: sticky;
    top: 0vh;
    background-size: cover !important;
    overflow: hidden;
    z-index: 0;

    .overlay {
        min-width: 100vw;
        max-width: 100vw !important;
        height: 96vh !important;
        margin: 0 !important;
        padding: 2vh 2vw !important;
        position: absolute;
        top: 0vh;
        left: 0vw;
        background-color: rgba(0, 0, 0, 0.299);
    }

    .overlay2 {
        min-width: 100vw;
        max-width: 150vw !important;
        height: 80vh !important;
        margin: 0 !important;
        padding: 2vh 2vw !important;
        position: absolute;
        top: 30vh;
        opacity: 60%;
        left: 0vw;
        background-repeat: repeat;
        animation: moveClouds 50s linear infinite;
        -webkit-animation: moveClouds 50s linear infinite;
    }

    .title-sec {
        position: relative;
        text-align: center;
        z-index: 2;
        padding: 8vh 8vw;
        display: grid;
        height: 75vh;
        align-items: center;

        .title {
            cursor: pointer;
            font-family:"Monoton", sans-serif !important;
            color: #e9ae00;
            font-size: 4vw;
            font-style: normal;
            text-decoration: none;

            span {
                font-family: "Archivo Black", sans-serif;
                font-style: normal;
                font-size: 1vw;
                color: rgb(255 255 255 / 25%);
                position: relative;
                top: -4vw;
            }
        }

        span img {
            width: 3vw;
            cursor: pointer;
            border: 0.25vw solid #e9ae01;
            border-radius: 50%;
            animation: bounce 2s infinite;
        }

        span img:hover {
            box-shadow: 0 0 1vw white;
            background-color: #e9af0100;
            
        }
    }
}

.who-we-are {
    width: 100vw !important;
    max-width: 100vw !important;
    height: 100vh !important;
    margin: 0 !important;
    padding: 2vw !important;
    position: sticky;
    top: 0vh;
    font-size: 2vw;
    background: white;
}

.overlay {
    position: absolute;
    width: inherit;
    height: inherit;
    background: rgb(0 0 0 / 68%);
    margin: -2vw;
}


.what-is {
    width: 100% !important;
    height: 17vh;
    
    h1 {
        width: fit-content;
        // background: #00000052;
        color: white;

        animation: slide-in 5s ease-in-out;
        -webkit-animation: slide-in 5s ease-in-out;
        animation-timeline: view();
    }

    p {
        width: 40vw;
        height: fit-content;
        // background: #00000052;
        color: white;
        padding: 1.5vw;

        animation: slide-out 5s ease-in-out;
        -webkit-animation: slide-out 5s ease-in-out;
        animation-timeline: view();
    }
    
}

.who2 {
    background-color: transparent !important;

    .what-is {
        h1 {
            margin-left: 5vw;
        }
    }
}

.who3 {
    // background-color: transparent !important;
    // overflow: scroll;

    .frnt-row {
        width: 90%;
        height: 100vw !important;
        margin: 0vw 5vw;
        height: auto;

        .card {
            position: relative;
            background-size: cover !important;
        }

        .card:hover {
            z-index: 10;
            transform: scale(1.5);
        }

        .card:nth-child(1) {
            width: 22vw;
            height: 30vw;
            background: purple;
            left: 20vw;
        }

        .card:nth-child(2) {
            width: 25vw;
            height: 30vw;
            background: navy;
            left: 52vw;
            top: -12vw
        }

        .card:nth-child(3) {
            width: 35vw;
            height: 25vw;
            background: darkslategray;
            left: 14vw;
            top: -28vw;
        }

        .card:nth-child(4) {
            width: 25vw;
            height: 25vw;
            background: gray;
            left: 49vw;
            top: -29vw;
        }

        .card:nth-child(5) {
            width: 31vw;
            height: 25vw;
            background: mediumvioletred;
            left: 15vw;
            top: -46vw;
        }

        .card-content {
            width: 100%;
            height: 100%;
            background-size: cover !important;

            .card-overlay {
                width: 100%;
                height: 100%;
                background: rgb(0 0 0 / 68%);
                opacity: 0;
                color: white;
                display: flex;
                align-items: self-end;

                p {
                    margin: 2vw;
                }
            }

            .card-overlay:hover {
                opacity: 1;
            }
        }

        .card-content:hover {
            transform: scale(1.1);
        }
    }
}


//  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GENERAL <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< //


.title {
    cursor: pointer;
    font-family:"Monoton", sans-serif !important;
    color: #e9ae00;
    font-size: 3vw;
    font-style: normal;
    text-decoration: none;
}

//  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> KEYFRAMES <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< //

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-2vh);
    }
    60% {
      transform: translateY(-1vh);
    }
}

@keyframes moveClouds {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
    100% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
}

@keyframes slide-in {
    0% { transform: translateX(95%); opacity: 0.2; }
    20% {  opacity: 0.5; }
    30% {transform: translateX(30%); opacity: 1; z-index: 0;}
    55% { transform: translateX(30%); opacity: 1; z-index: 0; }
    65% { opacity: 0; }
    100% { z-index: -1; opacity: 0;}
}

@keyframes slide-out {
    0% { transform: translateX(-65%); opacity: 0; }
    20% { opacity: 0; }
    30% { transform: translateX(0%); opacity: 1;  z-index: 0;}
    55% { transform: translateX(0%); opacity: 0; z-index: -1; }
    65% { opacity: 0; }
    100% { z-index: -1; opacity: 0;}
}