@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moul&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lexend+Deca:wght@100..900&family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Audiowide&family=Basic&family=Chocolate+Classical+Sans&family=Cookie&family=Monoton&family=Satisfy&display=swap');


// font-family: "Archivo Black", sans-serif;
// font-family: "Monoton", sans-serif !important;
// font-family: "Rubik Doodle Shadow", system-ui;
// font-family: "Lexend Deca", sans-serif;
// font-family: "Moul", serif;

html, body {
    scroll-behavior: smooth;
    // overflow: scroll;
}

.app-wrapper {
    margin: 0;
}

.landing {
    width: 100%;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    position: fixed;


    .main-landing {
        width: 100vw;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        background: #00000075;

        .left, .right {
            height: 100vh;
        }
    
        .left {
            width: 40vw;
            user-select: none;
            color: white;
    
            .main-title {
                padding: 9vh 4vw;
                padding-bottom: 1vh;
                font-family: "Monoton", sans-serif !important;
                color: #e9ae00;
                font-size: 3.5vw;
            }
    
            .main-sub {
                padding: 0vh 4vw;
                width: 35vw;
    
                .sub-big {
                    margin: 8vh 0vw 1vw 0vw;
                    font-size: 2.5vw;
                    font-family: "Archivo Black", sans-serif;
                }
    
                .sub-mid {
                    margin: 4vh 0;
                    font-size: 1.5vw;
                    font-family: "Lexend Deca", sans-serif;
                }
            }
        }
    
        .right {
            width: 58vw;
            padding: 4vh 1vw;
            overflow-y: scroll;
            overflow-x: hidden;

            .card {
                position: relative;
                margin-bottom: 3vh;
                margin-right: 2vw;
                border-radius: 0.5vw;
                z-index: 10;
                background-size: cover !important;

                .card-content {
                    font-size: 1.5vw;
                    width: 100%;
                    height: 100%;
                
                    .card-overlay {
                        width: inherit;
                        height: inherit;
                        background: rgb(0 0 0 / 68%);
                        opacity: 0;
                        color: white;
                        display: flex;
                        align-items: self-end;
                        border-radius: 0.5vw;
                
                        p {
                            margin: 2vw;
                        }
                    }
                
                    .card-overlay:hover {
                        opacity: 1;
                    }
                }                    
            }

            .card:hover {
                box-shadow: rgba(255, 255, 255, 0.48) 0px 0px 14px 1px;
            }

            .card.small {
                width: 30vw;
                height: 42vh;
            }

            .card.big {
                width: 50vw;
                height: 42vh;
            }

            .card.thin {
                width: 35vw;
                height: 40vh;
                margin-bottom: 5vh;
            }

            .right-row {
                width: 60vw;
                display: flex;
                justify-content: space-between;
            }
        }    
    }
}

.anchor-details {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 1.5vw;
    width: 13vw;
    font-family: 'Archivo Black';
    font-size: 2vw;
    user-select: none;
    z-index: 10;

    p {
        margin: 0 1vw;
        padding: 1vw;
        cursor: pointer;
        color: #e9ae00;
        background: linear-gradient(to left, transparent 50%, #e9ae00 50%) right;
        background-size: 200% 100%; 
        background-position: right;
        transition: all 1s ease;
    }

    p:nth-child(1) {
        width: 15vw;
        border-left: 0.1vw solid #e9ae00;
    }

    p:nth-child(2) {
        width: 8vw;
        border-left: 0.1vw solid #e9ae00;
    }

    p:hover {
        color: white;
        background-position: left;
    }
}

    // .landing1, .landing2 {
    //     height: 100vh;
    //     background-position: 50% 50%;
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     background-attachment: fixed;
    // }

    // .landing2 {
    //     height: 50vh;
    //     background-position: 50% 50%;
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     background-attachment: fixed;
    // }