.email-form-settings{

    font-family: 'circular';
    user-select: none;

    .efsb {
        width: 10vw;
    }

    .no-view {
        display: none;
    }

    .how-it-works {
        margin-left: 9vw;

        p {
            bold {
                font-weight: bold;
            }
        }
    }

    #initial-fs-response {
        width: 50vw;
        height: 30vw;
        overflow: scroll;
    }

}