
.portfolio-editor-nav {
    // width: 100%;
    background-color: grey;
    display: flex;
    justify-content: start;
    padding: 0 8vw;
    position: relative;
    z-index: 2;

    .items {
        margin-right: 5vw;
        cursor: pointer;
        color: white;
        font-family: "Inter", sans-serif;
        font-size: 1.5vw;
        user-select: none;
    }
    .selected {
        color: #E9AE00;
    }
}

//////////////////////////////////////////////////////////////COMMON//////////////////////////////////////////////////////////////

.chkbox {
    span {
        font-size: 1.5vw;
        font-family: "Inter", sans-serif;
        font-weight: 500;
    }
}

blink {
    -webkit-animation-name: blink; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    -webkit-animation-duration: 1s;
}

/////////////////////////////////////////////////////////BUY ME SOMETHING/////////////////////////////////////////////////////////

.buy-me-something {

    .buyme-select {

    }

    .buy-me-chkbox {
        
    }

    .manage-payment {
        display: flex;
        align-items: center;

        .select-payment {
            width: 20vw;

            .payment-label {
                background: rgb(255 0 0 / 61%);
                padding: 1vh 1vw;
                color: white;
                cursor: pointer;
                font-size: 1.5vw;
            }        
    
            #payment-ip{
                display: none;
            }
        }

        .upload-payment {
            background: #E9AE01;
            color: white;
            padding: 1vh 1vw;
            width: fit-content;
            height: fit-content;
            cursor: pointer;
        }
    }

}

.buyme-icon {
    margin-left: 1vw;
    width: 2vw;
    height: 2vw;
}


//////////////////////////////////////////////////////SKILLS SECTION//////////////////////////////////////////////////////////////
.skills-section {
    position: relative;
    top: -6vh;
}

.expand-skills {
    position: relative;
    font-size: 3.5vw !important;
    left: 96%;
    top: 5vw;
    cursor: pointer;
}

.add-skills {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;

    p {
        user-select: none;
        color: #07074D;
        font-weight: 500;
        font-size: 1.8vw;
        line-height: 2vw;
        display: block;
        margin-bottom: 2.5vh;
    }

    .add-btn {
        font-size: 3vw;
        color: #E9AE01;
        cursor: pointer;
        margin-bottom: 0.5vh;
    }

    .add-btn.disabled {
        color: lavender;
    }

    .add-btn:active {
        transform: translateY(2px);
    }
}

.remove-category {
    width: 1.7vw !important;
    position: relative;
    left: 96%;
    top: -3vh;
    cursor: pointer;
    animation: spinCancel 0.5s forwards ease-out;
}

.remove-category:active {
    transform: translateY(1px);
}

@keyframes spinCancel {
    from {rotate: 0deg;}
    to {rotate: 360deg;}
}

/////////////////////////////////////////////////////UPLOAD PROFESSIONAL PIC/////////////////////////////////////////////////////////

.upload-professional-pic {
    margin: 3vh auto;
}


//////////////////////////////////////////////////////////WORK SECTION////////////////////////////////////////////////////////////////

.recent-work-section {
    height: fit-content;

    .add-recent-work {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1vw;
    
        p {
            user-select: none;
            color: #07074D;
            font-weight: 500;
            font-size: 1.8vw;
            line-height: 2vw;
            display: block;
            margin-bottom: 2.5vh;
        }
    
        .add-btn {
            font-size: 3vw;
            color: #E9AE01;
            cursor: pointer;
        }
    
        .add-btn.disabled {
            color: lavender;
        }
    
        .add-btn:active {
            transform: translateY(2px);
        }
    }

    .wrk-sumry {
        width: fit-content;
        cursor: pointer;
        text-decoration: blink;
        user-select: none;
    }

    .my-work {
        width: 50vw;
        padding: 1vh 2vw;
        border: 0.2vw solid black;
        border-radius: 1vw;
        margin-bottom: 2vw;
        margin-left: -2vw;
        box-shadow: 0 0 3px 0px black;

        .wrk-optns {
            position: relative;
            left: 90%;
            top: 3vw;
            display: flex;
            align-items: center;

            .expand-recent-work {
                font-size: 3.5vw !important;
                cursor: pointer;
            }

            .delete-recent-work {
                font-size: 2.5vw !important;
                cursor: pointer;
            }
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

