@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.port-preview-cont {
    max-width: 100% !important;
    height: 50vw;
    position: relative;
    background-color: #20252c;

    .portfolio {
        width: 83vw;
        height: 50vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4vw;
    }

    .port-content {
        max-width: 50vw;
        overflow: hidden;
        word-break: keep-all;
        color: white;
        font-family: "Lexend", sans-serif;
        user-select: none;

        h3 {
            font-size: 2vw;
            font-weight: 400;
            margin-left: 1vw;

            animation: slideBottom 1s ease forwards;

            span {
                color: #E9AE00;
                margin-left: 0.3vw;
            }
        }

        h1 {
            font-size: 3vw;
            font-weight: 500;
            margin-left: 1vw;
            margin-top: -2vw;

            animation: slideRight 1s ease forwards;
        }

        p {
            font-size: 1vw;
            margin-left: 1vw;
            animation: slideLeft 1s ease forwards;
        }

        .port-title {
            margin-top: -2vw;
        }
    }


    .port-img img {
        max-width: 23vw;
        border-radius: 50%;
        animation: zoomIn 1s ease forwards;
    }

    .port-socials {
        justify-content: flex-start;
        align-items: baseline;
        height: 6vw;
        margin-top: -1vw;
        margin-left: 1vw;

        .svg_icons {
            color: #E9AE00;
            padding: 0.4vw;
            border-radius: 50%;
        }

        .svg_icons:hover {
            background-color: #E9AE00;
            color: white;
            box-shadow: 0 0 1vw #E9AE00;
            border-radius: 50%;
            padding: 0.4vw;
            transition: 0.3s ease-in-out;
        }
    }

    .port-btns-sec1 {
        display: flex;
        height: 11vh;

        .buy-me {
            cursor: pointer;
            border: 0.2vw solid #E9AE00;
            border-radius: 1vw;
            width: fit-content;
            height: 2vw;
            padding: 1vw;
            margin-left: 1vw;
            display: flex;
            justify-content: center;
            align-items: center;

            transition: 0.5s ease-in-out;

            a {
                text-decoration: none;
                color: #E9AE00;
                font-family: 'Lexend';
                font-size: 1.5vw;
                margin: 0;
                display: flex;
                align-items: center;
            }

            .shaker-btl {
                width: 3vw;
                height: 3vw;
                margin-left: 0.6vw;
            }
        }

        .buy-me:hover {
            background-color: #E9AE00;
            box-shadow: 0 0 1vw #E9AE00;
            transition: 0.5s ease-in-out;
    
            a {
                color: white;
            }

            .shaker-btl {
                animation: proteinShake 1s infinite ease-in-out;
            }
        }
    }

    .view-resume {
        cursor: pointer;
        border: 0.2vw solid #E9AE00;
        border-radius: 1vw;
        width: fit-content;
        height: 2vw;
        padding: 1vw;
        margin-left: 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s ease-in-out;

        a {
            text-decoration: none;
            color: #E9AE00;
            font-family: 'Lexend';
            font-size: 1.5vw;
            margin: 0;
            line-height: 2vh;
        }
    }

    .view-resume:hover {
        background-color: #E9AE00;
        box-shadow: 0 0 1vw #E9AE00;
        transition: 0.5s ease-in-out;

        a {
            color: white;
        }
    }
}


@keyframes zoomIn {
    0% {
        scale: 0;
    }

    100% {
        scale: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-10vw);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(10vw);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(10vw);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes proteinShake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}


@media (min-width: 960px) {
    .port-preview-cont .portfolio {
        height: 40vw;
    }
}

@media (max-width: 600px) {
    .port-preview-cont .portfolio {
        height: 53vw;
    }
}


@media (max-width: 490px) {
    .port-preview-cont .portfolio {
        height: 62vw;
    }
}