@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.recent-work-cont {
    margin: 0;
    padding: 0;
    padding-top: 5vw;
    padding-bottom: 10vw;
    height: fit-content;
    max-width: 100vw !important;

    .recent-work-preview {
        font-family: "Lexend", sans-serif;
        font-size: 1.5vw;
        font-weight: bold;
        height: 2vw;
        padding: 1vw 5vw;
        user-select: none;
        position: sticky;
        top: 7vh;
        background: white;
        z-index: 10;

        code {
            color: #d90f5a;
        }
    }

//////////////////////////////////////////////// SimpleWorkTemplate ////////////////////////////////////////////////
    .work-preview-simple {
        width: 90vw;
        height: fit-content;
        margin: auto;
        margin-bottom: 5vw;

        position: sticky;
        top: 27vh;
        

        .work-info-simple {
            padding: 0 3vw;
            background: white;

            position: relative;
            right: -34vw;
            width: 50vw;
            
            .work-title {
                text-align: end;
                margin-bottom: 0;
                cursor: pointer;

                a {
                    font-family: "Lexend", sans-serif;
                    font-size: 3vw;
                    user-select: none;
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                }
            }
            
            .work-desc {
                font-family: "Lexend", sans-serif;
                font-size: 2vw;
                user-select: none;
                text-align: end;
                margin-top: 0;
            }
        }

        .work-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            background-color: black;
            z-index: 999; 
        }
    }

    .non-sticky {
        position: relative;
    }

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////// TiledWorkTemplate ////////////////////////////////////////////////

    .work-tiles {
        display: inline-flex;
        margin: 1vw;
        position: relative;
        
        .work-info {
            --tile-clr: #462C7E;
            width: 24vw;
            background: black;
            height: fit-content;
            border-radius: 1vw;
            margin: 1vw 2vw;
            overflow: hidden;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            position: relative;

            header {
                background-color: var(--tile-clr);
                height: 1vw;
                padding: 0.5vw;
                display: flex;
                align-items: center;

                span {
                    width: 0.6vw;
                    height: 0.62vw;
                    border-radius: 50%;
                    margin-right: 0.5vw;
                }
                
                span:nth-child(1) {
                    background-color: red;
                    margin-left: 1vw;
                }
                span:nth-child(2) {
                    background-color: orange;
                }
                span:nth-child(3) {
                    background-color: green;
                }
            }

            img {
                height: 13vw;
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }

            div {
                height: fit-content;
                padding-bottom: 3vw;
                background-color: var(--tile-clr);
                color: white;

                h4 {
                    margin: 0;
                    padding: 0.5vw 2vw;
                    font-family: "Lexend", sans-serif;
                    font-size: 1.5vw;
                    font-weight: bold;
                }
                p {
                    margin: 0;
                    padding: 0.5vw 2vw;
                    font-family: "Lexend", sans-serif;
                    height: fit-content;
                    font-size: 1vw;
                }
            }
        }

        .tile-overlay {
            display: none;
            position: absolute;
            top: 0;
            margin: 1vw 2vw;
            width: 90%;
            height: 94%;
            border-radius: 1vw;
            background: #0000002e;
            cursor: pointer;

            .preview-ico {
                color: white;
                margin: auto;
                width: 20%;
                height: 20%;
            }
        }

        .tile-overlay:hover {
            display: flex;
        }

        .work-info:hover + .tile-overlay {
            display: flex;
        }

        .work-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            background-color: black;
            z-index: 999; 
        }

    }

    .work-tiles:nth-child(3) {
        animation: tileBounce 3s infinite forwards;
    }

    .work-tiles:nth-child(4) {
        animation: tileBounce 2s 1s infinite forwards ease-out;
    }

    .work-tiles:nth-child(6) {
        animation: tileBounce 3s 0.5s infinite forwards;
    }

    .work-tiles:nth-child(8) {
        animation: tileBounce 3s infinite forwards;
    }

    .work-tiles:nth-child(9) {
        animation: tileBounce 2s 1s infinite forwards;
    }

    @keyframes tileBounce {
        0% { top: 0vw; }
        50% { top: -1vw; }
        100% { top: 0vw; }
    }
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

}
